$primary-color: #fdb918;
$secondary-color: #4e4a41;
$accent-color: #f7f1e5;
$font-color: #4e4a40;
$border-color: #fdb918;
$font-weight: (
  "regular": 400,
  "light": 500,
  "medium": 600,
  "bold": 700,
);
$vertical-padding: 4rem 0;
$assetPath: "../webImages";
